.aboutUs {
	.usWrapper{
		
		
		
		
	}
	.usTopImage {
		
		
	}
	.usProfileImage1{
		background-image: url("peter-photo.jpg");
		background-position: 75px 50px;
	    background-size: 150px;
	    background-repeat: no-repeat;
		//height:100px;
	}
	
	
	.usProfileImage2{
		background-image: url("kasper-photo.jpg");
		background-position: 82px 53px;
	    background-size: 150px;
	    background-repeat: no-repeat;
		//height:100px;
	}
	
	.usProfileImage3{
		background-image: url("andy-photo.jpg");
		background-position: 95px 70px;
	    background-size: 100px;
	    background-repeat: no-repeat;
		//height:100px;
	}
	
	.usProfileImage4{
		background-image: url("ulrich-photo.jpg");
		background-position: 95px 70px;
	    background-size: 100px;
	    background-repeat: no-repeat;
		//height:100px;
	}
	
	.usData{
	
		position: absolute;
		  top: 260px;
		  left: 110px;
	}
}