html {
	font-size: 16px;
}

//html, body { height: 100%; }

body {

	h1 {
		font-family: 'Dosis',sans-serif;
		font-weight: bold;
	}

	.fullWidth {
		&.dark {
			@include full-width(#6B6B6E);
		}
		&.gray {
			@include full-width(#eaeaea);
		}
		&.light-gray {
			@include full-width(#f2f2f2);
		}
		&.topgray {
			@include full-width(#6b6b6e);
		}
		&.darkgray {
			@include full-width(#333333);
			h1, h2, p {
				color: #f2f2f2!important;
			}
		}
		&.footer-spacer {
			padding-bottom: 20px;
		}


	}

	.last-section-spacer {
		height: 80px;

	}

	.mainContainer {
		min-height: 100%;
		position: relative;
		margin-bottom: -500px;
	}
	.stickyFooter {
		position: absolute;
		width: 100%;
	}

	.top {
		padding-top:2em;



		@media #{$small-only} { 
			padding-top:1em;
		}
		&.gray {
			background-color: #eaeaea
		}

		
	}
	.main {
		padding-top:20px;
		text-align:left;
		.listImage {
			@media #{$small-only} { 
				float:left;
				width: 40px;
				margin:0 10px 10px 0;
			}
		}
		.listHeader {
			padding-top:10px;
		}
		.listText {

		}
		

		blockquote {
			background-color: #f2f2f2;
		}
	}

	.footer {
		padding-top:20px;
		color: #eaeaea;
		font-size: 0.8em;
		a {
			color: #eaeaea;
			font-size: 0.8em;
			&:hover {
				text-decoration: underline;


			}
		}
	}


	nav {
		.logo {
			padding-left:0.5em;
			padding-top:0.1em;
		}
		
		ul {
			li {
				&.name {
						margin-top:0!important;
						margin-left:0!important;
				}
			}
		}
		ul.right {
			li {

				.button {
					border:none;
				}

				margin:0;
				padding:0;
				&.signinButton {
					padding:9px;
					a {
						padding:11px;
						background-color: transparent;
						border: 1px #f2f2f2 solid;
					}

				}
				@media #{$small-only} { 
					&.signinButton {
						padding-top:0;
						width: 100%;
						padding:0;
						margin:0;
						a {
							padding:20px;
							background-color: transparent;
							border-top:1px #f2f2f2 solid;
						}
					}
				}

			}


			@media #{$small-only} { 
				li {
					@include grid-column(12);
					margin: 0;
					padding:0;
					float:left;
					text-align: left;
				}
			}




		}

	}

	iframe {width:100%}
	


	.header {
		width:100%;
	}



	h1 {
		font-size: 1.4rem;
	}

	h2 {
		font-size: 1.2rem;	
	}

	p {
		font-size: 1rem;
		@media #{$small-only} { 
			font-size: 0.8rem;
		}
	}

}



