.aboutUsWrapper {
	.profileWrapper {
		padding-top: 30px;
		.funky {
			background-image: url('../images/about/funky.png');
			background-repeat: no-repeat;
			background-position: center bottom;
			height: 359px;
			//hej
		}
		.usProfileTop{
			height: 116px;
			background-color: #fff;
			background-image: url('../images/about/back1.jpg');
			background-repeat: no-repeat;
			background-size: 100% 116px;
			border-bottom: 10px #f2f2f2 solid;
			
		}
		.usProfileInfo{
			padding-top:80px;
			text-align: center;
			border-right: 3px #f2f2f2 solid;
			border-bottom: 3px #f2f2f2 solid;
			border-left: 3px #f2f2f2 solid;
			height: 250px;
			margin-top: -76px;
			background-image: url('../images/about/funky.png');
			background-repeat: no-repeat;
			background-position: -110px 190px;
			//background-size: 100%;
			
		}
		.usProfileImage{
			//position: absolute;
			border: solid 7px #fff; 
			background-color: #f2f2f2; 
			border-radius:100px; 
			background-repeat: no-repeat;
  			margin: 0 auto;
			margin-top: -80px;
			width:150px;
			height:150px; 
		}
		
		.usProfileImage1{
			background-image: url('../images/about/martin-photo.png');
			background-size: 100px;
			background-position: 13px -3px;
		}
		.usProfileImage2{
			background-image: url('../images/about/peter-photo.jpg');
			background-size: 145px;
			background-position: 0 -1px;
		}
		.usProfileImage3{
			background-image: url('../images/about/kasper-photo.jpg');
			background-size: 145px;
			background-position: 0 -1px;
		}
		.usProfileImage4{
			background-image: url('../images/about/andy-photo.jpg');
			background-size: 115px;
			background-position: 11px -1px;
		}
		.usProfileImage5{
			background-image: url('../images/about/ulrich-photo.jpg');
			background-size: 145px;
			background-position: 0 -1px;
		}
		
		.usProfileImage6{
			background-image: url('../images/about/mike-photo.jpg');
			background-size: 145px;
			background-position: 0 -1px;
		}
	}
}