.pricing {
	
	
	padding-bottom:40px;
	.pricingRow{
		&.noneColor {
			.pricingBar{
				div{
					border-right-width:15px!important;
					background-color:#CCC2C2;		
				}
			}
		}
		&.bronze {
			.pricingTitle{
				background-color:#965A38;		
			}
			.pricingBar{
				div{
					border-right-width:15px!important;
					background-color:#965A38;		
				}
			}
		}
		&.silver {
			.pricingTitle{
				background-color:#A8A8A8;		
			}
			.pricingBar{
				div{
					border-right-width:15px!important;
					background-color:#A8A8A8;		
				}
			}
		}
		&.gold {
			.pricingTitle{
				background-color:#C98910;		
			}
			.pricingBar{
				div{
					border-right-width:15px!important;
					background-color:#C98910;	
				}
			}
		}
		
		
		
		.pricingBar{
			
			.pricingTitle{
			    
			    height: 70px;
				color:#fff;		
				p{
					font-size: 0.8em;
				}
				
				
				
				h1{
					margin-bottom:0;
					color:#fff;	
					padding-top:3px;
				}
				
				 @media #{$small-only} { 
				 	border-right-color:#679a40!important;
					border-right-style: solid!important;
					border: 0px solid;
				    border-top-right-radius: 0.5em;
					//border-bottom-right-radius: 0.5em;
				 }
				 
				 
			
				
				
			}
			
			
			//@include grid-column(9);
			margin-top:9px;
			.bar{
						
				height:70px;
				text-align:right;
				
				border-right-color:#679a40!important;
				border-right-style: solid!important;
				border: 0px solid;
			    border-top-right-radius: 0.5em;
				border-bottom-right-radius: 0.5em;
				
				h2{
					font-size: 1.7em;
					color: #fff;
					margin-top:16px;
					span{
						font-size: 0.6em !important;
					}
				}
			}
			
			@media #{$small-only} { 
				.bar{
					@include grid-column(12);
					border-top-right-radius: 0;
					margin-top: -1px;
				}
				.pricingTitle {
					@include grid-column(12);
				}
			}
			
			
			
			
			.ball{
				height:50px;
				background-color:#679a40!important; 
				border-radius: 5px;
				margin-left:20px;
				color: #fff;
				line-height: 20px;
				padding:5px 5px 5px 10px;
				text-align: center;
				margin-top:9px;
				font-size: 0.8em;
				font-weight:bold;
				border:solid 1px #679a40;
				float: left!important;
				
				width: 140px;
				
				-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
			    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
			    -moz-border-radius: 5px;
			    -webkit-border-radius: 5px;
			    background:#eee;
				
				
				@media #{$small-only} {
					margin-top: -62px;
					margin-left: 9px;
					padding:2px 2px 2px 2px!important;
					width: 130px;
				}	
			}
			
			
			
		}
	}
	blockquote{
		padding-left:0;
		margin-left:0;
		background-color: #eaeaea!important;
		border-left:none;
		padding-top: 20px;
	}
}