<div class="fullWidth">
	<div class="row">
		<div class="large-12 columns main">
			<h1>About Manuscript Manager</h1>
      <p>
        With over 100,000 processed manuscripts and 200,000 users, Manuscript Manager is an established peer review service for academic and scholarly journals.
</p>
<p>
Based in Copenhagen, Denmark we have 10 years experience working with online peer review and evaluation software for academic organizations.
</p>
<p>
We continuously strive to make our service a pleasure to use – because we want to give our customers and users the best peer review experience.
      </p>

  </div>
</div>
</div>