<div class="fullWidth">
	<div class="row">
		<div class="large-12 columns main">
			<h1>Contact us or a journal editorial office</h1>
			<p>Use the form below to ask your question</p>
			<div class="row">
				<div class="large-6 columns ">
					<h2>Support enquiry</h2>
					<label>Sales/support or Journal name
						<select>
							<option selected=""></option>
							<option value="Manuscript Manager sales/support">Manuscript Manager sales/support</option>
							<option value="Acta Orthopaedica">Acta Orthopaedica</option>
							<option value="American Journal of Health Behavior">American Journal of Health Behavior</option>
							<option value="APMIS">APMIS</option>
						</select>
					</label>
					
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="large-6 columns ">
					<h2>Your name and contact email</h2>
					<label>Salutation
						<select name="strSalutation">
							<option selected=""></option>
							<option>Dr</option>
							<option>Prof</option>
							<option>Mrs</option>
							<option>Ms</option>
							<option>Mr</option>
							<option>Miss</option>
						</select>
					</label>
					
					<label>Your first name
						<input type="text" placeholder="" />
					</label>
					<small class="error">Invalid entry</small>
					<label>Your last name
						<input type="text" placeholder="" />
					</label>
					
					<label>Your email address
						<input type="email" placeholder="" />
					</label>
					
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="large-12 columns main">
					<h2>Your question</h2>
					<label>
						<textarea rows="15" ></textarea>
					</label>
					
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns ">
					<input type="button" class="button" value="Send" />
				</div>
			</div>
		</div>
	</div>
</div>