<div class="fullWidth">
	<div class="row">
		<div class="large-12 columns main">
			<h1>Facts</h1>
      <p>
        Manuscript Manager is a web service offering a user-configurable solution for processing scholarly manuscripts. We designed it so that you can quickly configure your own custom solution, while enjoying a fully featured editorial office. No need for a big check to get started.
      </p>

      <h2>Setup </h2>
      <p>
        The initial set-up of your editorial office is done directly from this website, by following our simple guidelines. You learn as you go, so you can get familiar with all the features and know exactly how the editorial office works before you start accepting manuscripts. It’s fast – and It’s free
      </p>
      <h2>Going live</h2>
      <p>
        When you are ready, you go live and start accepting manuscripts for review. The dashboard with graphs and reports will give you a real-time overview of submissions, progress and performance, so you never miss a beat. The online submission and review forms are easy to understand and complete by authors and reviewers. Reminders and alerts are sent to reviewers automatically. All correspondence is logged, giving a real-time overview of the status and history of each manuscript.
      </p>
      <p>
        All correspondence to editors, reviewers and authors is kept within the editorial office, so nothing is lost.
      </p>

      <h2>Security </h2>
      <p>
        All data is securely backed-up and can be exported to spreadsheets or files for archiving or further processing.
      </p>
    </div>
  </div>
</div>
