<div class="fullWidth gray">
    <div class="row top">
        <div class="medium-6 large-6 columns">
            <h1>Simple peer review for scholarly journals</h1>
            <h2>Manuscript Manager is an online editorial office that works on your terms. </h2>
            <p>
                With us you can set up your own custom editorial office without any start-up
                fees or complicated demos. You only pay for what you use - no hidden extras.
                200.000 people worldwide use Manuscript Manager. Join us for free and be
                ready to process manuscripts in just 30 minutes.
            </p>

            <ul class="small-block-grid-2">
                <li><a class="button radius" href="./demo_request.php?PHPSESSID=228gqqkkca4fg4o00g5uiemao4" title="click her to start configuring your own editorial office" class='greenButtonGetStarted'>GET STARTED</a></li>
                <li><img style="position: absolute;margin-top: -20px;margin-left: -53px;" src="./images/signup.jpg"></li>
            </ul>

        </div>
        <div class="medium-6 large-6 columns">

            <iframe width="482" height="271" src="//www.youtube.com/embed/iNF9A6qY9BY" frameborder="0" allowfullscreen></iframe>
            <div class='videoText'></div>
        </div>
    </div>
</div>
<div class="fullWidth" ng-controller="TopBarDemoCtrl">
    <ul>
    <li ng-repeat="name in list">
        {{name.Firstname}} {{name.Lastname}}
    </li>
    <div class="row">
        <div class="large-12 columns main">
            <ul class="small-block-grid-1 medium-block-grid-4 large-block-grid-4">
                <li>
                    <div class='listImage'><img src="./images/clock.png"></div>
                    <div class='listHeader'>Easy administration</div>
                    <div class='listText'>Stay in control with a dashboard-style overview and real-time updates.</div>
                </li>
                <li>
                    <div class='listImage'><img src="./images/manuscript.png"></div>
                    <div class='listHeader'>Simple submission</div>
                    <div class='listText'>Attract the best authors and manuscripts by offering inviting and easy online submission.</div>
                </li>
                <li>
                    <div class='listImage'><img src="./images/reviewers.png"></div>
                    <div class='listHeader'>Enjoyable reviewing</div>
                    <div class='listText'>Create simple, tailor-made workflows for your editors and reviewers.</div>
                </li>
                <li>
                    <blockquote>
                        New blablabla , we evaluated a number of online peer review systems. We chose Manuscript Manager for our journals because it was both easy to use and economical.

                        <cite>
                            Journal Publications Director
                            Quintessence Publishing Chicago
                        </cite>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="fullWidth gray">
    <div class="row pricing">
        <div class="small-12 columns main">
            <h1 class="pricingMainHeader">Our discount by volume pricing makes Manuscript Manager affordable for all journals! </h1>

            <div class="row pricingRow noneColor">
                <div class="small-12 columns pricingBar">
                    <div class="small-3 columns pricingTitle">
                        <h1>Get Started</h1>
                        <p>
                            Up to 50 manuscripts
                        </p>
                    </div>
                    <div class="small-2 columns bar">
                        <h2>$995<span> /year</span></h2>
                    </div>
                     <div class="small-2 columns ball">
                        <span>$15 pr. additional manuscript</span>
                    </div>
                    <div class="small-1 columns"></div>
                </div>
            </div>

            <div class="row pricingRow bronze">
                <div class="small-12 columns pricingBar">
                    <div class="small-3 columns pricingTitle">
                        <h1>Bronze</h1>
                        <p>
                            Up to 200 manuscripts
                        </p>
                    </div>
                    <div class="small-3 columns bar">
                        <h2>$1995<span> /year</span></h2>
                    </div>
                    <div class="small-2 columns ball">
                        <span>$10 pr. additional manuscript</span>
                    </div>
                    <div class="small-1 columns"></div>
                </div>
            </div>

            <div class="row pricingRow silver">
                <div class="small-12 columns pricingBar">
                    <div class="small-3 columns pricingTitle">
                        <h1>Siilver</h1>
                        <p>
                            Up to 500 manuscripts
                        </p>
                    </div>
                    <div class="small-4 columns bar">
                        <h2>$3995<span> /year</span></h2>
                    </div>
                     <div class="small-2 columns ball">
                        <span>$5 pr. additional manuscript</span>
                    </div>
                    <div class="small-1 columns"></div>
                </div>
            </div>
          

            <div class="row pricingRow gold">
                <div class="small-12 columns pricingBar">
                    <div class="small-3 columns pricingTitle">
                        <h1>Gold</h1>
                        <p>
                            Up to 1500 manuscripts
                        </p>
                    </div>
                    <div class="small-5 columns bar">
                        <h2>$4995<span> /year</span></h2>
                    </div>
                     <div class="small-2 columns ball">
                        <span>$2 pr. additional manuscript</span>
                    </div>
                    
                </div>
            </div>

            <blockquote>
                * The above prices based on peer review submissions per annum. <br />
                * Customers wishing to take advantage of our publishers platform pay one time publication fee of $14.95 per manuscript. <br />
                * There are no set up charges, support and hosting fees or hidden extras.
            </blockquote>

        </div>

    </div>
</div>

<div class="fullWidth">
    <div class="row">
        <div class="large-12 columns main">
            <h1>Contact us or a journal editorial office</h1>
            <p>Use the form below to ask your question</p>
            <div class="row">
                <div class="large-6 columns ">
                    <h2>Support enquiry</h2>
                    <label>
                        Sales/support or Journal name
                        <select>
                            <option selected=""></option>
                            <option value="Manuscript Manager sales/support">Manuscript Manager sales/support</option>
                            <option value="Acta Orthopaedica">Acta Orthopaedica</option>
                            <option value="American Journal of Health Behavior">American Journal of Health Behavior</option>
                            <option value="APMIS">APMIS</option>
                        </select>
                    </label>

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="large-6 columns ">
                    <h2>Your name and contact email</h2>
                    <label>
                        Salutation
                        <select name="strSalutation">
                            <option selected=""></option>
                            <option>Dr</option>
                            <option>Prof</option>
                            <option>Mrs</option>
                            <option>Ms</option>
                            <option>Mr</option>
                            <option>Miss</option>
                        </select>
                    </label>

                    <label>
                        Your first name
                        <input type="text" placeholder="" />
                    </label>
                    <small class="error">Invalid entry</small>
                    <label>
                        Your last name
                        <input type="text" placeholder="" />
                    </label>

                    <label>
                        Your email address
                        <input type="email" placeholder="" />
                    </label>

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="large-12 columns main">
                    <h2>Your question</h2>
                    <label>
                        <textarea rows="15"></textarea>
                    </label>

                </div>
            </div>
            <div class="row">
                <div class="large-12 columns ">
                    <input type="button" class="button" value="Send" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--

<div class="fullWidth gray footer-spacer">
  <div class="row">
    <div class="large-12 columns main">
      <h1>Submission</h1>
      <hr />
      <p>
        Authors sign in and submit their manuscripts in 5 easy-to-follow steps. All mandatory information must be entered before the author is allowed to send their manuscript to ensure that it can be quickly processed by the editorial office. The authors can follow the review progress from their overview thus reducing editorial office inquiries.
      </p>

      <img src="/images/submission.png" />
    </div>
  </div>
</div>

<div class="fullWidth footer-spacer">
  <div class="row">
    <div class="large-12 columns main">
      <h1>Efficient reviewing</h1>
    </div>
    <hr />
    <div class="medium-12 large-12 columns main">
      <img src="/images/review2.png" />
    </div>
    <div class="medium-6 large-6 columns main">

    </div>
  </div>
</div>

<div class="fullWidth gray footer-spacer">
  <div class="row">
    <div class="large-12 columns main">
      <h1>Easy administration and comprehensive overview</h1>
      <hr />
      <p>
        The journal's editorial staff have a complete overview of all submitted manuscripts past and present. A dashboard gives users a snap-shot of current activity whilst 'to do' and 'monitor' lists give a breakdown of immediate and pending tasks.
      </p>

      <img src="/images/reports.png" />
    </div>
  </div>
</div>
-->
