<!--
      <div class="medium-4 large-4 columns">
        <ul class="pricing-table">
          <li class="title">Basic</li>
          <li class="price">$1995</li>
          <li class="description">Manuscript production tracking<br /> + $595</li>
          <li class="bullet-item">1-200 manuscripts per year </li>
          <li class="bullet-item">Manuscript submission </li>
          <li class="bullet-item">Peer review</li>
          <li class="bullet-item">Unlimited users</li>
          <li class="bullet-item">No set up costs</li>
          <li class="bullet-item">No hidden extras</li>
          <li class="bullet-item">Support and hosting fees</li>

          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
      </div>
      <div class="medium-4 large-4 columns">
        <ul class="pricing-table">
          <li class="title">Standard</li>
          <li class="price">$2995</li>
          <li class="description">Manuscript production tracking<br /> + $895</li>
          <li class="bullet-item">200-600 manuscripts per year </li>
          <li class="bullet-item">Manuscript submission </li>
          <li class="bullet-item">Peer review</li>
          <li class="bullet-item">Unlimited users</li>
          <li class="bullet-item">No set up costs</li>
          <li class="bullet-item">No hidden extras</li>
          <li class="bullet-item">Support and hosting fees</li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
      </div>
      <div class="medium-4 large-4 columns">
        <ul class="pricing-table">
          <li class="title">Premium</li>
          <li class="price">$4995</li>
          <li class="description">Manuscript production tracking<br /> + $1295</li>
          <li class="bullet-item">600+ manuscripts per year </li>
          <li class="bullet-item">Manuscript submission </li>
          <li class="bullet-item">Peer review</li>
          <li class="bullet-item">Unlimited users</li>
          <li class="bullet-item">No set up costs</li>
          <li class="bullet-item">No hidden extras</li>
          <li class="bullet-item">Support and hosting fees</li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>
      </div>
      -->