<div class="fullWidth">
	<div class="row">
		<div class="large-12 columns main">
			<h1>Request a demonstration</h1>
			<p>Please fill out the fields below and we will get back to you with a demonstration system ready to test within 24 hours.</p>

			<div class="row">
				<div class="large-6 columns ">
					<h2>Journal</h2>
					<label>Journal name
						<input type="text" placeholder="" />
					</label>

					<label>Society/Organisation
						<input type="text" placeholder="" />
					</label>

				</div>
			</div>

			<hr />
			<div class="row">
				<div class="large-6 columns ">
					<h2>Your name and contact email</h2>
					<label>Salutation
						<select name="strSalutation">
							<option selected=""></option>
							<option>Dr</option>
							<option>Prof</option>
							<option>Mrs</option>
							<option>Ms</option>
							<option>Mr</option>
							<option>Miss</option>
						</select>
					</label>
					
					<label>Your first name
						<input type="text" placeholder="" />
					</label>
					
					<label>Your last name
						<input type="text" placeholder="" />
					</label>
					
					<label>Your email address
						<input type="text" placeholder="" />
					</label>
					
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="large-12 columns main">
					<h2>Your comments/requests</h2>
					<label>
						<textarea rows=5  />
					</label>
					
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns ">
					<input type="button" class="button" value="Send" />
				</div>
			</div>
		</div>
	</div>
</div>
